*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to left, rgba(255,0,0,0), rgb(255, 230, 129)); /* 标准的语法 */
    

}
/* .box1{
    width: 300px;
    height: 100px;
    margin: auto;
    margin-top: 100px;
} */
.box1 .in_1{
    width: 300px;
    height: 30px;
    border: 0;
    border-radius: 20px;
    margin-top:100px ;
    margin-left: 568px;
    margin-bottom: 50px;
}
.box1 .in_2{
    width: 80px;
    height: 28px;
    border: 0;
    border-radius: 20px;
    margin-left: 15px;
    color: white;
    background-color: tomato;
}
.box1 .in_2:hover{
    font-weight: bolder;
    background-color: orangered;
}
.head{
	position: relative;
	margin-bottom:100px;
}
table{
    caption-side: top;
    width:auto;
    height: auto;
    /*background-color: white;*/
    letter-spacing: 5px;
    text-align: center;
    align-self: center;
    vertical-align: middle;
    margin:auto;
    
}
table caption{
    width: 100%;
    height: 50px;
    /*background-color: white;*/
    font-size: 20px;
    font-weight: bolder;
    line-height:50px;
}
.box{
    width: 100%;
    height: 50px;
    background-color: #fffce6;
    text-align: center;
    position: fixed;
    bottom: 0;
    border-top: 1px solid gray;
    
}
.box .a1{
    display: block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    color: white;
    background-color: tomato;
    text-decoration: none;
    text-align: center;
    float: left;
    margin-left:600px;
    margin-top: 5px;
    border-radius: 30px;
}
.box .a1:hover{
    background-color:#f44336;
    font-weight: bolder;
    transition: all 1s ease 0s;
    border-bottom: 2px solid orangered;
}
.box .a2{
    display: block;
    width: 150px;
    height: 40px;
    line-height:40px;
    color: white;
    background-color: tomato;
    text-decoration: none;
    text-align: center;
    float: left;
    margin-left: 50px;
    margin-top: 5px;
    border-radius: 30px;
}
.box .a2:hover{
    background-color:#f44336;
    font-weight: bolder;
    transition: all 1s ease 0s;
    border-bottom: 2px solid orangered;
}